.modal {
	/*display: none;*/
	background: rgba(0,0,0, 0.75);
	position: fixed;
	top:0;
	/*bottom: 0;*/
	left: 0;
	right:0;

	height: 0;
	overflow: hidden;
}

.modal .content {
	top: 20vh;
	left: 25%;
	width: 50%;

	max-height: 60vh;
	overflow: auto;

	padding: 20px;
	background: #fff;
	border-radius: 4px;
	color: #333;

	transform: translateY(-30px);
	opacity: 0;

	transition: all 0.4s;
}

.modal .close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 30px;
	z-index: 900;
	cursor: pointer;
	color: #ccc;
}

.modal .close::after {
	content: "\00d7";
}

.modal.active {
	/*display: block;*/
	height: 100%;
	z-index: 1000;
}

.modal.active .content {
	transform: translateY(0);
	opacity: 1;
}

.is-modal {
	overflow: hidden;
}


@media(max-width: 768px) {
	.modal .content {
		top: 5vh;
		left: 10%;
		width: 80%;
	}
}
